
.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}

#thermometer {
  position: relative;
  top: 38%;
  right: -16%;
}

#temperature {
  font-size: 200px;
  position: absolute;
  right: -50px;
  bottom: 58%;

}
#reset {
  font-size: 30px;
  border: none;
  background: none;
  font-family: "Helvetica";
  text-decoration: bold;
}

#temp-up, #temp-down {
  font-size: 30px;
  border: none;
  background: none;
  font-family: "Helvetica";
  text-decoration: bold;
}
#degrees {
	transform: rotate(90deg);
	transform-origin: left top 0;
  position: absolute;
  left: 85px;
  bottom: 80%;
  color: white;
  font-size: 120px;
}

#container {
  position: relative;
  width: 100%;
  /*height: 800px;*/
}
.right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 800px;
  background: black;
}

.left {
    position: absolute;
    width: 50%;
    height: 800px;
    top: 0px;
    left: 60px;
    background: salmon;
}​​
